<template>
    <div class='edit-popup'>
        <el-card class='!border-none' shadow='never'>
            <el-page-header :content='$route.meta.title' @back='$router.back()' />
        </el-card>
        <el-card class='!border-none' shadow="never">
            <el-form ref='formRef' :model='formData' label-width='90px' :rules='formRules'>
                <el-form-item label='试题分类' prop='category_uid'>
                    <el-cascader
                        v-model='formData.category_uid'
                        :options='optionsData.category'
                        :props='props'
                        @change='handleChange'
                        style='width: 100%'
                        placeholder='请输入试题分类'
                    />
                </el-form-item>
                <el-form-item label='试题主干' prop='title'>
                    <el-input v-model='formData.title' clearable placeholder='请输入试题主干' />
                </el-form-item>
                <el-form-item label='试题副干' prop='second_title'>
                    <editor class='flex-1' v-model='formData.second_title' height='auto' />
                </el-form-item>
                <el-form-item label='试题积分' prop='score'>
                    <el-input-number
                        v-model='formData.score'
                        clearable
                        placeholder='请输入试题积分'
                        :precision='2'
                        :step='0.1'
                        :max='100'
                    />
                </el-form-item>
                <el-form-item label='显示状态' prop='is_show'>
                    <el-radio-group v-model='formData.is_show' placeholder='请选择显示状态'>
                        <el-radio
                            v-for='(item, index) in dictData.show_status'
                            :key='index'
                            :label='parseInt(item.value)'
                        >
                            {{ item.name }}
                        </el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label='显示权重' prop='sort'>
                    <div>
                        <el-input-number v-model='formData.sort' :min='0' />
                        <div class='form-tips'>默认为0， 数值越大越排前</div>
                    </div>
                </el-form-item>
                <el-form-item label='试题难度' prop='level'>
                    <el-select
                        class='flex-1'
                        v-model='formData.level'
                        clearable
                        placeholder='请选择试题难度'
                    >
                        <el-option
                            v-for='(item, index) in dictData.exam_level'
                            :key='index'
                            :label='item.name'
                            :value='parseInt(item.value)'
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label='试题选项' prop='option'>
                    <div style='display: flex !important'>
                        <el-col>
                            <div
                                v-for='(options, index) in formData.option'
                                :key='index'
                                class='item-option'
                                style='display: flex !important'
                            >
                                <el-form-item
                                    :prop="'option.' + index + '.title'"
                                    :rules="{
                                        required: true,
                                        message: '答案不能为空',
                                        trigger: 'blur'
                                    }"
                                >
                                    <div
                                        v-for='(item, indexs) in formData.answerOptions'
                                        :key='indexs'
                                    >
                                        <el-checkbox
                                            v-if='item.key === index'
                                            :key='indexs'
                                            v-model='options.is_check'
                                            :label="'选项' + item.value"
                                            :true-label='1'
                                            :false-label='2'
                                            style='margin-right: 10px'
                                            border
                                        />
                                    </div>
                                    <div style='min-width: 500px'>
                                        <el-input
                                            :model="
                                                (options.check =
                                                    index === 0
                                                        ? 'A'
                                                        : index === 1
                                                        ? 'B'
                                                        : index === 2
                                                        ? 'C'
                                                        : index === 3
                                                        ? 'D'
                                                        : index === 4
                                                        ? 'E'
                                                        : index === 5
                                                        ? 'F'
                                                        : '')
                                            "
                                            style='display: none'
                                        />
                                        <el-input
                                            v-model='options.title'
                                            placeholder='请输入试题选项'
                                            autosize
                                            clearable
                                        />
                                    </div>
                                </el-form-item>
                                <el-form-item style='margin-left: 20px !important'>
                                    <div>
                                        <el-button
                                            type='success'
                                            @click='addOptions'
                                            style='text-align: center'
                                        >新增
                                        </el-button>
                                        <el-button
                                            type='danger'
                                            style='text-align: center'
                                            @click.prevent='removeOptions(index)'
                                        >移除
                                        </el-button>
                                    </div>
                                </el-form-item>
                            </div>
                        </el-col>
                    </div>
                </el-form-item>
                <el-form-item label='试题解析' prop='analysis'>
                    <editor class='flex-1' v-model='formData.analysis' height='auto' name="option_answer"  />
                </el-form-item>
            </el-form>
        </el-card>
        <footer-btns>
            <el-button type='primary' @click='handleSave'>保存</el-button>
        </footer-btns>
    </div>
</template>

<script lang='ts' setup name='examOptionEdit'>
import { ElMessage, type FormInstance } from 'element-plus'
import { useDictData, useDictOptions } from '@/hooks/useDictOptions'
import { apiExamOptionAdd, apiExamOptionDetail, apiExamOptionEdit } from '@/api/exam_option'
import type { PropType } from 'vue'
import { apiExamCategoryTree } from '@/api/exam_category'

defineProps({
    dictData: {
        type: Object as PropType<Record<string, any[]>>,
        default: () => ({})
    }
})
const formRef = shallowRef<FormInstance>()

const route = useRoute()
const router = useRouter()
// 表单数据
const formData = reactive({
    id: '',
    category_uid: '',
    title: '',
    second_title: '',
    option: [
        {
            check: '',
            title: '',
            is_check: 2
        }
    ],
    score: 1,
    analysis: '',
    sort: 0,
    is_show: 1,
    level: '',
    answerOptions: [
        { key: 0, value: 'A' },
        { key: 1, value: 'B' },
        { key: 2, value: 'C' },
        { key: 3, value: 'D' },
        { key: 4, value: 'E' },
        { key: 5, value: 'F' }
    ]
})

// 新增试题选项
const addOptions = () => {
    if (formData.option.length === 6) {
        ElMessage('最多只能有六个选项')
        return
    }
    formData.option.push({
        check: '',
        title: '',
        is_check: 2
    })
}

// 删除选项
const removeOptions = (index: number) => {
    if (formData.option.length === 1) {
        ElMessage('至少保留一项')
        return
    }
    formData.option.splice(index, 1)
}

// 表单验证
const formRules = reactive<any>({
    title: [
        {
            required: true,
            message: '请输入',
            trigger: ['blur']
        }
    ],
    option: [
        {
            required: true,
            message: '请输入',
            trigger: ['blur']
        }
    ],
    score: [
        {
            required: true,
            message: '请输入',
            trigger: ['blur']
        }
    ],
    sort: [
        {
            required: true,
            message: '请输入',
            trigger: ['blur']
        }
    ],
    is_show: [
        {
            required: true,
            message: '请选择',
            trigger: ['blur']
        }
    ],
    level: [
        {
            required: true,
            message: '请选择',
            trigger: ['blur']
        }
    ]
})

const { dictData } = useDictData('show_status,exam_level')

// 获取详情
const setFormData = async (data: Record<any, any>) => {
    for (const key in formData) {
        if (data[key] != null && data[key] != undefined) {
            //@ts-ignore
            formData[key] = data[key]
        }
    }
}

const { optionsData } = useDictOptions<{
    category: any[]
}>({
    category: {
        api: apiExamCategoryTree
    }
})

const getDetails = async (row: Record<string, any>) => {
    const data = await apiExamOptionDetail({
        id: route.query.id
    })
    setFormData(data)
}

const handleChange = (value) => {
    formData.category_uid = value[1]
}

// 提交按钮
const handleSave = async () => {
    await formRef.value?.validate()
    if (route.query.id) {
        await apiExamOptionEdit(formData)
    } else {
        await apiExamOptionAdd(formData)
    }
    router.back()
}
route.query.id && getDetails()
</script>
<style>
.item-option {
    margin-bottom: 30px !important;
}
.el-form-item__content {
   min-width: 500px;
}
</style>
