<template>
    <div>
        <el-card class="!border-none mb-4" shadow="never">
            <el-form class="mb-[-16px]" :model="queryParams" inline>
                <el-form-item label="试卷分类" prop="category_uid">
                    <el-cascader
                        v-model="queryParams.category_uid"
                        :options="optionsData.category"
                        :props="props"
                        @change="handleChange"
                    />
                </el-form-item>
                <el-form-item label="试题主干" prop="title">
                    <el-input
                        class="w-[280px]"
                        v-model="queryParams.title"
                        clearable
                        placeholder="请输入"
                    />
                </el-form-item>
                <el-form-item label="试题类型" prop="type">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.type"
                        clearable
                        placeholder="请选择"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in [
                                { value: 1, name: '单选试题' },
                                { value: 2, name: '多选试题' }
                            ]"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="启用状态" prop="is_show">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.is_show"
                        clearable
                        placeholder="请选择"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.show_status"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="试题难度" prop="level">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.level"
                        clearable
                        placeholder="请选择试题难度"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.exam_level"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="resetPage">查询</el-button>
                    <el-button @click="resetParams">重置</el-button>
                </el-form-item>
            </el-form>
        </el-card>
        <el-card class="!border-none" v-loading="pager.loading" shadow="never">
            <div style="display: flex">
                <router-link
                    v-perms="['exam.examOption/add']"
                    :to="{
                        path: getRoutePath('exam.examOption/add:edit')
                    }"
                >
                    <el-button type="primary" class="mb-4">
                        <template #icon>
                            <icon name="el-icon-Plus" />
                        </template>
                        创建
                    </el-button>
                </router-link>
                <el-button
                    style="margin-left: 10px"
                    v-perms="['exam.examOption/delete']"
                    :disabled="!selectData.length"
                    @click="handleDelete(selectData)"
                >
                    删除
                </el-button>
                <el-upload
                    v-perms="['exam.examOption/upload']"
                    v-model:file-list="fileList"
                    class="upload-demo mb-4"
                    :action="action"
                    accept=".xls, .xlsx"
                    :headers="headers"
                    :limit="1"
                    :on-success="uploadSuccess"
                    :on-error="uploadError"
                    :show-file-list="false"
                >
                    <el-button type="primary" class="mb-4" style="margin-left: 10px"
                        >导入试题</el-button
                    >
                    <template #tip>
                        <div class="el-upload__tip">
                            <a :href="demoFileUrl" target="_blank">下载上传模板</a>
                        </div>
                    </template>
                </el-upload>
            </div>
            <div class="mt-4">
                <el-table
                    :data="pager.lists"
                    @selection-change="handleSelectionChange"
                    style="width: 100%"
                    :cell-style="{ 'text-align': 'left' }"
                    :header-cell-style="{ 'text-align': 'left' }"
                >
                    <el-table-column type="selection" width="55" />
                    <el-table-column label="试题分类" prop="category.title" show-overflow-tooltip />
                    <el-table-column label="试题主干" prop="title" min-width="200px" />
                    <el-table-column label="试题类型" prop="type" show-overflow-tooltip>
                        <template #default="{ row }">
                            <span v-if="row.type == 1"
                                ><el-tag class="ml-2" type="success">单选</el-tag></span
                            >
                            <span v-if="row.type == 2"
                                ><el-tag class="ml-2" type="warning">多选</el-tag></span
                            >
                        </template>
                    </el-table-column>
                    <el-table-column label="试题积分" prop="score" show-overflow-tooltip />
                    <el-table-column label="显示权重" prop="sort" show-overflow-tooltip />
                    <el-table-column label="显示状态" prop="is_show">
                        <template #default="{ row }">
                            <dict-value :options="dictData.show_status" :value="row.is_show" />
                        </template>
                    </el-table-column>
                    <el-table-column label="试题难度" prop="level">
                        <template #default="{ row }">
                            <dict-value :options="dictData.exam_level" :value="row.level" />
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="120" fixed="right">
                        <template #default="{ row }">
                            <el-button v-perms="['exam.examOption/edit']" type="primary" link>
                                <router-link
                                    :to="{
                                        path: getRoutePath('exam.examOption/add:edit'),
                                        query: {
                                            id: row.id
                                        }
                                    }"
                                >
                                    编辑
                                </router-link>
                            </el-button>
                            <el-button
                                v-perms="['exam.examOption/delete']"
                                type="danger"
                                link
                                @click="handleDelete(row.id)"
                            >
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="flex mt-4 justify-end">
                <pagination v-model="pager" @change="getLists" />
            </div>
        </el-card>
    </div>
</template>

<script lang="ts" setup name="examOptionLists">
import { usePaging } from '@/hooks/usePaging'
import { useDictData, useDictOptions } from '@/hooks/useDictOptions'
import { apiExamOptionDelete, apiExamOptionLists } from '@/api/exam_option'
import { apiExamCategoryTree } from '@/api/exam_category'
import feedback from '@/utils/feedback'
import { getRoutePath } from '@/router'
import { ElMessage } from 'element-plus'
import type { UploadProps } from 'element-plus'
import { computed, ref } from 'vue'
import config from '@/config'
import useUserStore from '@/stores/modules/user'

// 查询条件
const queryParams = reactive({
    category_uid: '',
    title: '',
    type: '',
    is_show: '',
    level: ''
})
const demoFileUrl =
    'https://imgcdn.tutudati.com/%E5%85%94%E5%85%94%E7%AD%94%E9%A2%98%E9%80%89%E6%8B%A9%E8%AF%95%E9%A2%98%E5%BD%95%E5%85%A5%E6%A8%A1%E6%9D%BF%E5%AE%9E%E4%BE%8B%E6%96%87%E4%BB%B6.xlsx'
const action = ref(`${config.baseUrl}${config.urlPrefix}/exam.exam_option/upload`)
const headers = computed(() => ({
    token: useUserStore().token,
    version: config.version
}))
// 选中数据
const selectData = ref<any[]>([])

// 获取试题分类参数
const { optionsData } = useDictOptions<{
    category: any[]
}>({
    category: {
        api: apiExamCategoryTree
    }
})

// 文件上传开始
const uploadSuccess: UploadProps['onSuccess'] = () => {
    ElMessage({
        message: '数据导入成功',
        type: 'success'
    })
    setTimeout(getLists, 3000)
}
const uploadError: UploadProps['onError'] = (Error) => {
    ElMessage({
        message: '数据导入失败',
        type: 'error'
    })
}
// 文件上传结束

// 试卷分类筛选回调
const handleChange = (value) => {
    queryParams.category_uid = value[1]
}

// 表格选择后回调事件
const handleSelectionChange = (val: any[]) => {
    selectData.value = val.map(({ id }) => id)
}

// 获取字典数据
const { dictData } = useDictData('show_status,exam_level')

// 分页相关
const { pager, getLists, resetParams, resetPage } = usePaging({
    fetchFun: apiExamOptionLists,
    params: queryParams
})

// 删除
const handleDelete = async (id: number | any[]) => {
    await feedback.confirm('确定要删除？')
    await apiExamOptionDelete({ id })
    getLists()
}

getLists()
</script>
