<template>
    <div>
        <el-card class="!border-none" shadow="never">
            <el-page-header :content="$route.meta.title" @back="$router.back()" />
        </el-card>
        <el-card class="!border-none" v-loading="pager.loading" shadow="never">
            <div style="display: flex">
                <el-button
                    type="success" class="mb-4"
                    v-perms="['exam.examForm/export']"
                    @click="handleExport(selectData)"
                >
                    导出记录
                </el-button>
            </div>
            <div class="mt-4">
                <el-table
                    :data="pager.lists"
                    style="width: 100%"
                    :cell-style="{ 'text-align': 'center' }"
                    :header-cell-style="{ 'text-align': 'center' }"
                >
                    <el-table-column label="提交试卷" prop="collection" show-overflow-tooltip />
                    <el-table-column label="提交用户" prop="nickname" show-overflow-tooltip />
                    <el-table-column label="所属单位" prop="company" show-overflow-tooltip />
                    <el-table-column label="用户姓名" prop="name" show-overflow-tooltip />
                    <el-table-column label="用户邮箱" prop="email" show-overflow-tooltip />
                    <el-table-column label="用户手机号" prop="mobile" show-overflow-tooltip />
                    <el-table-column label="用户描述" prop="remark" show-overflow-tooltip />
                    <el-table-column label="提交时间" prop="create_time" show-overflow-tooltip />
                </el-table>
            </div>
            <div class="flex mt-4 justify-end">
                <pagination v-model="pager" @change="getLists" />
            </div>
        </el-card>
    </div>
</template>

<script lang="ts" setup name="examOptionLists">
import { usePaging } from '@/hooks/usePaging'
import { apiExamFormHistory, apiExamFormExport } from '@/api/exam_collection'

const route = useRoute()
const handleExport = () => {
  console.log(route.query.id)
  const result = apiExamFormExport({id:route.query.id}).then(res => {
    window.open(res.url)
  })
}
const queryParams = reactive({
    collection_id: route.query.id
})
// 单选试题
const { pager, getLists, resetParams, resetPage } = usePaging({
    fetchFun: apiExamFormHistory,
    params: queryParams
})



getLists()
</script>
