<template>
    <div>
        <el-card class="!border-none" shadow="never">
            <el-page-header :content="$route.meta.title" @back="$router.back()" />
        </el-card>
        <el-card class="!border-none" v-loading="pager.loading" shadow="never">
            <div style="display: flex">
                <el-button
                    type="primary" class="mb-4"
                    v-perms="['exam.examCollection/export']"
                    @click="handleExport(selectData)"
                >
                    导出记录
                </el-button>
            </div>
            <div class="mt-4">
                <el-table
                    :data="pager.lists"
                    style="width: 100%"
                    :cell-style="{ 'text-align': 'center' }"
                    :header-cell-style="{ 'text-align': 'center' }"
                >
                    <el-table-column label="试卷名称" prop="collection.title" width="400" />
                    <el-table-column label="答题用户" prop="user.nickname" min-width="100" />
                    <el-table-column label="正确题数" prop="correct_count" show-overflow-tooltip />
                    <el-table-column label="错误题数" prop="error_count" show-overflow-tooltip />
                    <el-table-column label="试卷题数" prop="exam_count" show-overflow-tooltip />
                    <el-table-column label="答题耗时" prop="exam_time" show-overflow-tooltip />
                    <el-table-column label="试卷分数" prop="exam_score" show-overflow-tooltip />
                    <el-table-column label="答题分数" prop="score" show-overflow-tooltip />
                    <el-table-column label="答题时间" prop="create_time" show-overflow-tooltip min-width="200" />
                </el-table>
            </div>
            <div class="flex mt-4 justify-end">
                <pagination v-model="pager" @change="getLists" />
            </div>
        </el-card>
    </div>
</template>

<script lang="ts" setup name="examOptionLists">
import { usePaging } from '@/hooks/usePaging'
import { apiExamCollectionHistory, apiExamCollectionExport } from '@/api/exam_collection'

const route = useRoute()
const handleExport = () => {
  console.log(route.query.id)
  const result = apiExamCollectionExport({id:route.query.id}).then(res => {
    window.open(res.url)
  })
}
const queryParams = reactive({
    collection_id: route.query.id
})
// 单选试题
const { pager, getLists, resetParams, resetPage } = usePaging({
    fetchFun: apiExamCollectionHistory,
    params: queryParams
})



getLists()
</script>
