<template>
    <div>
        <el-card class="!border-none mb-4" shadow="never">
            <el-form class="mb-[-16px]" :model="queryParams" inline>
                <el-form-item label="试卷名称" prop="title">
                    <el-input
                        class="w-[280px]"
                        v-model="queryParams.title"
                        clearable
                        placeholder="请输入试卷名称"
                    />
                </el-form-item>
                <el-form-item label="显示状态" prop="is_show">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.is_show"
                        clearable
                        placeholder="请选择显示状态"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.show_status"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="推荐状态" prop="recommend">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.recommend"
                        clearable
                        placeholder="请选择是否推荐"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.show_status"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="试卷分类" prop="category_uid">
                    <el-cascader
                        v-model="queryParams.category_uid"
                        :options="optionsData.category"
                        :props="props"
                        class="w-[280px]"
                        @change="handleChange"
                    />
                </el-form-item>
                <el-form-item label="试卷难度" prop="level">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.level"
                        clearable
                        placeholder="请选择试卷难度"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.exam_level"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="试卷类型" prop="collection_type">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.collection_type"
                        clearable
                        placeholder="请选择试卷难度"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.collection_type"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="试卷作者" prop="author">
                    <el-input
                        class="w-[280px]"
                        v-model="queryParams.author"
                        clearable
                        placeholder="请输入试卷作者"
                    />
                </el-form-item>
                <!-- <el-form-item label="是否收费" prop="is_free">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.is_free"
                        clearable
                        placeholder="请选择是否收费"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.free_status"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item> -->
                <el-form-item>
                    <el-button type="primary" @click="resetPage">查询</el-button>
                    <el-button @click="resetParams">重置</el-button>
                </el-form-item>
            </el-form>
        </el-card>
        <el-card class="!border-none" v-loading="pager.loading" shadow="never">
            <div style="display: flex">
                <router-link
                    v-perms="['exam.examCollection/add']"
                    :to="{
                        path: getRoutePath('exam.examCollection/add:edit')
                    }"
                >
                    <el-button type="primary" class="mb-4">
                        <template #icon>
                            <icon name="el-icon-Plus" />
                        </template>
                        创建
                    </el-button>
                </router-link>
                <router-link
                    style="margin-left: 10px"
                    v-perms="['exam.examForm/lists']"
                    :to="{
                        path: getRoutePath('exam.examForm/lists')
                    }"
                >
                    <el-button type="success" class="mb-4">
                        答题表单
                    </el-button>
                </router-link>
                <el-button
                    style="margin-left: 10px"
                    v-perms="['exam.examCollection/delete']"
                    :disabled="!selectData.length"
                    @click="handleDelete(selectData)"
                >
                    删除
                </el-button>
            </div>
            <div class="mt-4">
                <el-table
                    :data="pager.lists"
                    @selection-change="handleSelectionChange"
                    style="width: 100%"
                    :cell-style="{ 'text-align': 'center' }"
                    :header-cell-style="{ 'text-align': 'center' }"
                >
                    <el-table-column type="selection" width="55" />
                    <el-table-column label="试卷封面" prop="image">
                        <template #default="{ row }">
                            <el-image
                                style="width: 50px; height: 50px"
                                :src="row.image"
                                :preview-src-list="[row.image]"
                                preview-teleported
                            />
                        </template>
                    </el-table-column>
                    <el-table-column label="试卷分类" prop="category.title" show-overflow-tooltip width="200" />
                    <el-table-column label="试卷类型" prop="collection_type" width="200">
                        <template #default="{ row }">
                            <dict-value :options="dictData.collection_type" :value="row.collection_type" />
                        </template>
                    </el-table-column>
                    <el-table-column label="试卷名称" prop="title" width="400" />
                    <el-table-column label="答题时间" prop="time" width="200" />
                    <el-table-column label="试卷作者" prop="author" width="200" />
                    <el-table-column label="显示状态" prop="is_show">
                        <template #default="{ row }">
                            <dict-value :options="dictData.show_status" :value="row.is_show" />
                        </template>
                    </el-table-column>
                    <!-- <el-table-column label="显示风格" prop="show_style">
                        <template #default="{ row }">
                            <dict-value :options="dictData.show_style" :value="row.show_style" />
                        </template>
                    </el-table-column> -->
                    <el-table-column label="开始日期" prop="start_date" width="200" />
                    <el-table-column label="结束日期" prop="end_date" width="200" />
                    <el-table-column label="重复次数" prop="repeat_count" show-overflow-tooltip />
                    <el-table-column label="显示权重" prop="sort" show-overflow-tooltip />
                    <!-- <el-table-column label="收藏数量" prop="collect" show-overflow-tooltip /> -->
                    <el-table-column label="答题数量" prop="submit" show-overflow-tooltip />
                    <el-table-column label="推荐状态" prop="recommend">
                        <template #default="{ row }">
                            <dict-value :options="dictData.show_status" :value="row.recommend" />
                        </template>
                    </el-table-column>
                    <el-table-column label="试卷难度" prop="level">
                        <template #default="{ row }">
                            <dict-value :options="dictData.exam_level" :value="row.level" />
                        </template>
                    </el-table-column>
                    <!-- <el-table-column label="是否收费" prop="is_free">
                        <template #default="{ row }">
                            <dict-value :options="dictData.free_status" :value="row.is_free" />
                        </template>
                    </el-table-column> -->
                    <!-- <el-table-column label="试卷价格" prop="money" show-overflow-tooltip /> -->
                    <el-table-column label="操作" fixed="right" width="300">
                        <template #default="{ row }">
                            <el-button v-perms="['exam.examCollection/edit']" type="primary" link>
                                <router-link
                                    :to="{
                                        path: getRoutePath('exam.examCollection/add:edit'),
                                        query: {
                                            id: row.id
                                        }
                                    }"
                                >
                                    编辑
                                </router-link>
                            </el-button>
                            <el-button
                                v-perms="['exam.examCollection/collection']"
                                type="warning"
                                link
                            >
                                <router-link
                                    :to="{
                                        path: getRoutePath('exam.examCollection/collection'),
                                        query: {
                                            id: row.id
                                        }
                                    }"
                                >
                                    组卷
                                </router-link>
                            </el-button>
                            <el-button
                            v-perms="['exam.examForm/lists']"
                            type="success"
                            link
                        >
                            <router-link
                                :to="{
                                    path: getRoutePath('exam.examForm/lists'),
                                    query: {
                                        id: row.id
                                    }
                                }"
                            >
                                表单
                            </router-link>
                        </el-button>
                            <el-button
                                v-perms="['exam.examCollection/history']"
                                type="info"
                                link
                                @click="handleHistory(row.id)"
                            >
                                <router-link
                                    :to="{
                                        path: getRoutePath('exam.examCollection/history'),
                                        query: {
                                            id: row.id
                                        }
                                    }"
                                >
                                    记录
                                </router-link>
                            </el-button>
                            <el-button
                                v-perms="['exam.examCollection/delete']"
                                type="danger"
                                link
                                @click="handleDelete(row.id)"
                            >
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="flex mt-4 justify-end">
                <pagination v-model="pager" @change="getLists" />
            </div>
        </el-card>
    </div>
</template>

<script lang="ts" setup name="examCollectionLists">
import { usePaging } from '@/hooks/usePaging'
import { useDictData, useDictOptions } from '@/hooks/useDictOptions'
import { apiExamCollectionLists, apiExamCollectionDelete } from '@/api/exam_collection'
import feedback from '@/utils/feedback'
import { getRoutePath } from '@/router'
import { apiExamCategoryTree } from '@/api/exam_category'

// 查询条件
const queryParams = reactive({
    title: '',
    is_show: '',
    recommend: '',
    category_uid: '',
    level: '',
    author: '',
    is_free: '',
    collection_type: ''
})

// 选中数据
const selectData = ref<any[]>([])

// 表格选择后回调事件
const handleSelectionChange = (val: any[]) => {
    selectData.value = val.map(({ id }) => id)
}

const { optionsData } = useDictOptions<{
    category: any[]
}>({
    category: {
        api: apiExamCategoryTree
    }
})

// 试卷分类选择
const handleChange = (value) => {
    queryParams.category_uid = value[1]
}

// 获取字典数据
const { dictData } = useDictData('show_status,free_status,exam_level,collection_type,show_style')

// 分页相关
const { pager, getLists, resetParams, resetPage } = usePaging({
    fetchFun: apiExamCollectionLists,
    params: queryParams
})

// 删除
const handleDelete = async (id: number | any[]) => {
    await feedback.confirm('确定要删除？')
    await apiExamCollectionDelete({ id })
    getLists()
}

getLists()
</script>
