<template>
    <div class="edit-popup">
        <popup
            ref="popupRef"
            :title="popupTitle"
            :async="true"
            width="550px"
            @confirm="handleSubmit"
            @close="handleClose"
        >
            <el-form ref="formRef" :model="formData" label-width="90px" :rules="formRules">
                <el-form-item label="一级标题" prop="first_title">
                    <el-input
                        v-model="formData.first_title"
                        clearable
                        placeholder="请输入一级标题"
                    />
                </el-form-item>
                <el-form-item label="二级标题" prop="second_title">
                    <el-input
                        v-model="formData.second_title"
                        clearable
                        placeholder="请输入二级标题"
                    />
                </el-form-item>
                <el-form-item label="轮播图" prop="image">
                    <material-picker v-model="formData.image" />
                </el-form-item>
                <el-form-item label="显示状态" prop="is_show">
                    <el-radio-group v-model="formData.is_show" placeholder="请选择显示状态">
                        <el-radio
                            v-for="(item, index) in dictData.show_status"
                            :key="index"
                            :label="parseInt(item.value)"
                        >
                            {{ item.name }}
                        </el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="显示权重" prop="sort">
                    <div>
                        <el-input-number v-model="formData.sort" :min="0" />
                        <div class="form-tips">默认为0， 数值越大越排前</div>
                    </div>
                </el-form-item>
                <el-form-item label="跳转地址" prop="navigate">
                    <el-input v-model="formData.navigate" clearable placeholder="请输入跳转地址" />
                </el-form-item>
                <el-form-item label="显示位置" prop="position">
                    <el-select
                        class="flex-1"
                        v-model="formData.position"
                        clearable
                        placeholder="请选择显示显示位置"
                    >
                        <el-option
                            v-for="(item, index) in dictData.banner_position"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="用户平台" prop="platform">
                    <el-select
                        class="flex-1"
                        v-model="formData.platform"
                        clearable
                        placeholder="请选择显示平台"
                    >
                        <el-option
                            v-for="(item, index) in dictData.platform"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
            </el-form>
        </popup>
    </div>
</template>

<script lang="ts" setup name="bannerEdit">
import type { FormInstance } from 'element-plus'
import Popup from '@/components/popup/index.vue'
import { apiBannerAdd, apiBannerEdit, apiBannerDetail } from '@/api/banner'
import type { PropType } from 'vue'
defineProps({
    dictData: {
        type: Object as PropType<Record<string, any[]>>,
        default: () => ({})
    }
})
const emit = defineEmits(['success', 'close'])
const formRef = shallowRef<FormInstance>()
const popupRef = shallowRef<InstanceType<typeof Popup>>()
const mode = ref('add')

// 弹窗标题
const popupTitle = computed(() => {
    return mode.value == 'edit' ? '编辑轮播图' : '新增轮播图'
})

// 表单数据
const formData = reactive({
    id: '',
    first_title: '',
    second_title: '',
    image: '',
    is_show: 1,
    sort: 0,
    navigate: '',
    position: '',
    platform: '',
})

// 表单验证
const formRules = reactive<any>({
    image: [
        {
            required: true,
            message: '请选择轮播图',
            trigger: ['blur']
        }
    ],
    is_show: [
        {
            required: true,
            message: '请选择显示状态',
            trigger: ['blur']
        }
    ],
    sort: [
        {
            required: true,
            message: '请输入显示权重',
            trigger: ['blur']
        }
    ],
    position: [
        {
            required: true,
            message: '请选择显示位置',
            trigger: ['blur']
        }
    ],
    platform: [
        {
            required: true,
            message: '请选择用户平台',
            trigger: ['blur']
        }
    ]
})

// 获取详情
const setFormData = async (data: Record<any, any>) => {
    for (const key in formData) {
        if (data[key] != null && data[key] != undefined) {
            //@ts-ignore
            formData[key] = data[key]
        }
    }
}

const getDetail = async (row: Record<string, any>) => {
    const data = await apiBannerDetail({
        id: row.id
    })
    setFormData(data)
}

// 提交按钮
const handleSubmit = async () => {
    await formRef.value?.validate()
    const data = { ...formData }
    mode.value == 'edit' ? await apiBannerEdit(data) : await apiBannerAdd(data)
    popupRef.value?.close()
    emit('success')
}

//打开弹窗
const open = (type = 'add') => {
    mode.value = type
    popupRef.value?.open()
}

// 关闭回调
const handleClose = () => {
    emit('close')
}

defineExpose({
    open,
    setFormData,
    getDetail
})
</script>
