<template>
    <div class="edit-popup">
        <popup
            ref="popupRef"
            :title="popupTitle"
            :async="true"
            width="550px"
            @confirm="handleSubmit"
            @close="handleClose"
        >
            <el-form ref="formRef" :model="formData" label-width="84px" :rules="formRules">
                <el-form-item label="渠道名称" prop="title">
                    <el-input v-model="formData.title" placeholder="请输入渠道名称" clearable />
                </el-form-item>
                <el-form-item label="状态" prop="state">
                    <el-switch v-model="formData.state" :active-value="1" :inactive-value="2" />
                </el-form-item>
                <el-form-item label="渠道名称" prop="remark">
                    <el-input
                        v-model="formData.remark"
                        placeholder="请输入渠道描述"
                        type="textarea"
                        :autosize="{ minRows: 3, maxRows: 6 }"
                        :maxlength="200"
                        show-word-limit
                        clearable
                    />
                </el-form-item>
            </el-form>
        </popup>
    </div>
</template>
<script lang="ts" setup>
import type { FormInstance } from 'element-plus'
import { apiUserChannelEdit, apiUserChannelAdd, apiUserChannelDetail } from '@/api/user_channel'
import Popup from '@/components/popup/index.vue'
const emit = defineEmits(['success', 'close'])
const formRef = shallowRef<FormInstance>()
const popupRef = shallowRef<InstanceType<typeof Popup>>()
const mode = ref('add')
const popupTitle = computed(() => {
    return mode.value == 'edit' ? '编辑渠道' : '新增渠道'
})
const formData = reactive({
    id: '',
    title: '',
    state: 1,
    remark: ''
})

const formRules = {
    name: [
        {
            required: true,
            message: '请输入渠道名称',
            trigger: ['blur']
        }
    ]
}

const handleSubmit = async () => {
    await formRef.value?.validate()
    mode.value == 'edit' ? await apiUserChannelEdit(formData) : await apiUserChannelAdd(formData)
    popupRef.value?.close()
    emit('success')
}

const open = (type = 'add') => {
    mode.value = type
    popupRef.value?.open()
}

const setFormData = (data: Record<any, any>) => {
    for (const key in formData) {
        if (data[key] != null && data[key] != undefined) {
            //@ts-ignore
            formData[key] = data[key]
        }
    }
}

const getDetail = async (row: Record<string, any>) => {
    const data = await apiUserChannelDetail({
        id: row.id
    })
    setFormData(data)
}

const handleClose = () => {
    emit('close')
}

defineExpose({
    open,
    setFormData,
    getDetail
})
</script>
