<template>
    <div>
        <el-card class="!border-none" shadow="never">
            <el-alert type="warning" title="该区域用作条件搜索" :closable="false" show-icon />
        </el-card>
        <el-card class="!border-none mt-4" shadow="never" v-loading="pager.loading">
            <div>
                <el-button
                    class="mb-4"
                    v-perms="['user.channel/add']"
                    type="primary"
                    @click="handleAdd()"
                >
                    <template #icon>
                        <icon name="el-icon-Plus" />
                    </template>
                    创建
                </el-button>
            </div>
            <el-table size="large" :data="pager.lists">
                <el-table-column label="渠道名称" prop="title" min-width="120" />
                <el-table-column label="渠道标识" prop="code" min-width="120" />
                <el-table-column label="渠道描述" prop="remark" min-width="120" />
                <el-table-column label="注册总数" prop="register_count" min-width="120" />
                <el-table-column label="启用状态" min-width="120">
                    <template #default="{ row }">
                        <el-switch
                            v-perms="['user.channel/updateStatus']"
                            v-model="row.state"
                            :active-value="1"
                            :inactive-value="2"
                            @change="changeStatus($event, row.id)"
                        />
                    </template>
                </el-table-column>
                <el-table-column label="注册时间" prop="create_time" min-width="120" />
                <el-table-column label="更新时间" prop="update_time" min-width="120" />
                <el-table-column label="操作" width="120" fixed="right">
                    <template #default="{ row }">
                        <el-button
                            v-perms="['user.channel/edit']"
                            type="primary"
                            link
                            @click="handleEdit(row)"
                        >
                            编辑
                        </el-button>
                        <el-button
                            v-perms="['user.channel/delete']"
                            type="danger"
                            link
                            @click="handleDelete(row.id)"
                        >
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="flex justify-end mt-4">
                <pagination v-model="pager" @change="getLists" />
            </div>
        </el-card>
        <edit-popup v-if="showEdit" ref="editRef" @success="getLists" @close="showEdit = false" />
    </div>
</template>
<script lang="ts" setup name="channelColumn">
import { apiUserChannelDelete, apiUserChannelLists, apiUserChannelStatus } from '@/api/user_channel'
import { usePaging } from '@/hooks/usePaging'
import feedback from '@/utils/feedback'
import EditPopup from './edit.vue'
const editRef = shallowRef<InstanceType<typeof EditPopup>>()
const showEdit = ref(false)

const { pager, getLists } = usePaging({
    fetchFun: apiUserChannelLists
})
const handleAdd = async () => {
    showEdit.value = true
    await nextTick()
    editRef.value?.open('add')
}

const handleEdit = async (data: any) => {
    showEdit.value = true
    await nextTick()
    editRef.value?.open('edit')
    editRef.value?.getDetail(data)
}

const handleDelete = async (id: number) => {
    await feedback.confirm('确定要删除？')
    await apiUserChannelDelete({ id })
    getLists()
}

const changeStatus = async (state: any, id: number) => {
    try {
        await apiUserChannelStatus({ id, state })
        getLists()
    } catch (error) {
        getLists()
    }
}

getLists()
</script>
