<template>
    <div class="edit-popup">
        <popup
            ref="popupRef"
            :title="popupTitle"
            :async="true"
            width="550px"
            @confirm="handleSubmit"
            @close="handleClose"
        >
            <el-form ref="formRef" :model="formData" label-width="90px" :rules="formRules">
                <el-form-item label="试题分类" prop="parent_uid">
                    <el-select
                        v-model="formData.parent_uid"
                        placeholder="请选择试题分类"
                        clearable
                        style="width: 100%;"
                        fit-input-width="true"
                    >
                        <el-option
                            v-for="item in optionsData.exam_cate"
                            :key="item.uid"
                            :label="item.title"
                            :value="item.uid"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="分类名称" prop="title">
                    <el-input v-model="formData.title" clearable placeholder="请输入分类名称" />
                </el-form-item>
                <el-form-item label="显示状态" prop="is_show">
                    <el-radio-group v-model="formData.is_show" placeholder="请选择显示状态">
                        <el-radio 
                            v-for="(item, index) in dictData.show_status"
                            :key="index"
                            :label="parseInt(item.value)"
                        >
                            {{ item.name }}
                        </el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="显示权重" prop="sort">
                    <div>
                        <el-input-number v-model="formData.sort" :min="0" />
                        <div class="form-tips">默认为0， 数值越大越排前</div>
                    </div>
                </el-form-item>
            </el-form>
        </popup>
    </div>
</template>


<script lang="ts" setup name="examCategoryEdit">
import type { FormInstance } from "element-plus";
import Popup from "@/components/popup/index.vue";
import {
    apiExamCategoryAdd,
    apiExamCategoryEdit,
    apiExamCategoryDetail,
    apiExamCategoryParent,
} from "@/api/exam_category";
import { useDictOptions } from '@/hooks/useDictOptions'
import type { PropType } from "vue";
defineProps({
    dictData: {
        type: Object as PropType<Record<string, any[]>>,
        default: () => ({}),
    },
});
const emit = defineEmits(['success', 'close'])
const formRef = shallowRef<FormInstance>()
const popupRef = shallowRef<InstanceType<typeof Popup>>()
const mode = ref('add')


const { optionsData } = useDictOptions<{
    exam_cate: any[]
}>({
    exam_cate: {
        api: apiExamCategoryParent
    }
})

// 弹窗标题
const popupTitle = computed(() => {
    return mode.value == 'edit' ? '编辑试题分类' : '新增试题分类'
})

// 表单数据
const formData = reactive({
    id: '',
    title: '',
    is_show: 1,
    sort: 0,
    parent_uid: ""
})


// 表单验证
const formRules = reactive<any>({
    title: [{
        required: true,
        message: '请输入试题分类名称',
        trigger: ['blur']
    }],
    is_show: [{
        required: true,
        message: '请选择启用状态',
        trigger: ['blur']
    }],
    sort: [{
        required: true,
        message: '请输入显示权重',
        trigger: ['blur']
    }]
})


// 获取详情
const setFormData = async (data: Record<any, any>) => {
    for (const key in formData) {
        if (data[key] != null && data[key] != undefined) {
            //@ts-ignore
            formData[key] = data[key]
        }
    }
    
    
}

const getDetail = async (row: Record<string, any>) => {
    const data = await apiExamCategoryDetail({
        id: row.id
    })
    setFormData(data)
}


// 提交按钮
const handleSubmit = async () => {
    await formRef.value?.validate()
    const data = { ...formData,  }
    console.log("操作菜单", mode.value)
    mode.value == 'edit' 
        ? await apiExamCategoryEdit(data) 
        : await apiExamCategoryAdd(data)
    popupRef.value?.close()
    emit('success')
}

//打开弹窗
const open = (type = 'add') => {
    mode.value = type
    popupRef.value?.open()
}

// 关闭回调
const handleClose = () => {
    emit('close')
}



defineExpose({
    open,
    setFormData,
    getDetail
})

</script>
