<template>
    <div>
        <el-card class="!border-none mb-4" shadow="never">
            <el-form class="mb-[-16px]" :model="queryParams" inline>
                <el-form-item label="试卷分类" prop="category_uid">
                    <el-cascader
                        v-model="queryParams.category_uid"
                        :options="optionsData.category"
                        :props="props"
                        @change="handleChange"
                    />
                </el-form-item>
                <el-form-item label="试题题干" prop="title">
                    <el-input
                        class="w-[280px]"
                        v-model="queryParams.title"
                        clearable
                        placeholder="请输入试题题干"
                    />
                </el-form-item>
                <el-form-item label="试题难度" prop="level">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.level"
                        clearable
                        placeholder="请选择试题难度"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.exam_level"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item label="显示状态" prop="is_show">
                    <el-select
                        class="w-[280px]"
                        v-model="queryParams.is_show"
                        clearable
                        placeholder="请选择显示状态"
                    >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                            v-for="(item, index) in dictData.show_status"
                            :key="index"
                            :label="item.name"
                            :value="item.value"
                        />
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="resetPage">查询</el-button>
                    <el-button @click="resetParams">重置</el-button>
                </el-form-item>
            </el-form>
        </el-card>
        <el-card class="!border-none" v-loading="pager.loading" shadow="never">
            <el-button v-perms="['exam.examJude/add']" type="primary" @click="handleAdd">
                <template #icon>
                    <icon name="el-icon-Plus" />
                </template>
                创建
            </el-button>
            <el-button
                v-perms="['exam.examJude/delete']"
                :disabled="!selectData.length"
                @click="handleDelete(selectData)"
            >
                删除
            </el-button>
            <div class="mt-4">
                <el-table
                    :data="pager.lists"
                    @selection-change="handleSelectionChange"
                    style="width: 100%"
                    :cell-style="{ 'text-align': 'left' }"
                    :header-cell-style="{ 'text-align': 'left' }"
                >
                    <el-table-column type="selection" width="55" />
                    <el-table-column label="试题分类" prop="category.title" width="100" />
                    <el-table-column label="试题题干" prop="title" min-width="300" />
                    <el-table-column label="试题积分" prop="score" show-overflow-tooltip />
                    <el-table-column label="显示权重" prop="sort" show-overflow-tooltip />
                    <el-table-column label="试题难度" prop="level">
                        <template #default="{ row }">
                            <dict-value :options="dictData.exam_level" :value="row.level" />
                        </template>
                    </el-table-column>
                    <el-table-column label="显示状态" prop="is_show">
                        <template #default="{ row }">
                            <dict-value :options="dictData.show_status" :value="row.is_show" />
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="120" fixed="right">
                        <template #default="{ row }">
                            <el-button
                                v-perms="['exam.examJude/edit']"
                                type="primary"
                                link
                                @click="handleEdit(row)"
                            >
                                编辑
                            </el-button>
                            <el-button
                                v-perms="['exam.examJude/delete']"
                                type="danger"
                                link
                                @click="handleDelete(row.id)"
                            >
                                删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <div class="flex mt-4 justify-end">
                <pagination v-model="pager" @change="getLists" />
            </div>
        </el-card>
        <edit-popup
            v-if="showEdit"
            ref="editRef"
            :dict-data="dictData"
            @success="getLists"
            @close="showEdit = false"
        />
    </div>
</template>

<script lang="ts" setup name="examJudeLists">
import { usePaging } from '@/hooks/usePaging'
import { useDictData, useDictOptions } from '@/hooks/useDictOptions'
import { apiExamJudeLists, apiExamJudeDelete } from '@/api/exam_jude'
import feedback from '@/utils/feedback'
import EditPopup from './edit.vue'
import { apiExamCategoryTree } from '@/api/exam_category'

const editRef = shallowRef<InstanceType<typeof EditPopup>>()
// 是否显示编辑框
const showEdit = ref(false)

// 查询条件
const queryParams = reactive({
    category_uid: '',
    title: '',
    is_show: '',
    level: ''
})

// 选中数据
const selectData = ref<any[]>([])

// 表格选择后回调事件
const handleSelectionChange = (val: any[]) => {
    selectData.value = val.map(({ id }) => id)
}

// 获取字典数据
const { dictData } = useDictData('show_status,exam_level')

// 分页相关
const { pager, getLists, resetParams, resetPage } = usePaging({
    fetchFun: apiExamJudeLists,
    params: queryParams
})

// 添加
const handleAdd = async () => {
    showEdit.value = true
    await nextTick()
    editRef.value?.open('add')
}

// 获取试题分类参数
const { optionsData } = useDictOptions<{
    category: any[]
}>({
    category: {
        api: apiExamCategoryTree
    }
})

// 试卷分类选择
const handleChange = (value) => {
    queryParams.category_uid = value[1]
}

// 编辑
const handleEdit = async (data: any) => {
    showEdit.value = true
    await nextTick()
    editRef.value?.open('edit')
    editRef.value?.setFormData(data)
}

// 删除
const handleDelete = async (id: number | any[]) => {
    await feedback.confirm('确定要删除？')
    await apiExamJudeDelete({ id })
    getLists()
}

getLists()
</script>
